
    #train-table th,
    td {
      display: inline-block;
      width: 16.575%;
    }
    .jumbotron{
        /* /* background-color: black;  */
         color: white;  
        background-image: url("../images/train_4.jpg");
    }
 .card-header{
     background-color: #8e5d40;
     color: white; 
     font-style: oblique    
 }

 
    th {
        text-align: left;
    }
 

 .card-body{
    background-color: #f5b591;
 }

 #add-train-btn{
    background-color: #8e5d40;
    color: white;
 }

 .form-group{
    color:black;
    font-size: large;
 }

 .text-center > p 
 {
   margin-top: 50%;
 }